{% extends "encyclopedia/layout.html" %}

{% block title %}
    404 - Page Not Found
{% endblock %}

{% block body %}
    {% load static %}
    <div class="center">
        <h1>Page Not Found</h1>
        <img src="{% static 'images/404.jpg' %}" alt="404 Image" width="800">
        <br>
        <a href="https://www.freepik.com/free-vector/404-error-with-cute-animal-concept-illustration_8030429.htm#query=404%20cat&position=6&from_view=search&track=ais&uuid=45e7f63a-ec02-40ca-9885-76e2cfa9e5bd">Image by storyset</a>
    </div>
{% endblock %}


