{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block body %}
    <h1>Create A New Page</h1>
    <form action="{% url 'newpage' %}" method="post">
        {% csrf_token %}
        <p><label for="new_content">Hi There! Please fill the required fields to submit the entry to the Wiki</label></p>
        <textarea placeholder="Title" id="new_title" name="title" rows="2" cols="10" required></textarea>
        <br>
        <textarea placeholder="Write your content here" id="new_content" name="content" rows="6" cols="40" required></textarea>
        <br>
        <input type="submit" value="Submit">
    </form>

{% endblock %}